<form method="post" action="/save_entry">
  <p><input type="text" placeholder="title" name="title"></p>
  <p><input type="text" placeholder="entry" name="entry"></p>
  <p><input type="text" placeholder="comments" name="comments"></p>
  <input type="submit" name="Save" value="Save">
</form>
